<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local" value="./local-packages" />
  </packageSources>
  <config>
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
    <add key="no_proxy" value="api.nuget.org,nuget.org,localhost,127.0.0.1" />
  </config>
</configuration>
